<h3>{{@model.name}}</h3>
<table>
  <tr>
    <td>Diameter:</td>
    <td>{{@model.diameter}}</td>
  </tr>
  <tr>
    <td>Rotation Period:</td>
    <td>{{@model.rotation_period}}</td>
  </tr>
  <tr>
    <td>Orbital Period:</td>
    <td>{{@model.orbital_period}}</td>
  </tr>
  <tr>
    <td>Gravity:</td>
    <td>{{@model.gravity}}</td>
  </tr>
  <tr>
    <td>Population:</td>
    <td>{{@model.population}}</td>
  </tr>
  <tr>
    <td>Climate:</td>
    <td>{{@model.climate}}</td>
  </tr>
  <tr>
    <td>Terrain:</td>
    <td>{{@model.terrain}}</td>
  </tr>
  <tr>
    <td>Surface water:</td>
    <td>{{@model.surface_water}}</td>
  </tr>
  <tr>
    <td>Residents:</td>
    <td>{{@model.residents}}</td>
  </tr>
  <tr>
    <td>Films:</td>
    <td>{{@model.films}}</td>
  </tr>
</table>
