<h3>{{@model.name}}</h3>
<table>
  <tr>
    <td>Height</td>
    <td>{{@model.height}}</td>
  </tr>
  <tr>
    <td>Mass:</td>
    <td>{{@model.mass}}</td>
  </tr>
  <tr>
    <td>Hair Color:</td>
    <td>{{@model.hair_color}}</td>
  </tr>
  <tr>
    <td>Skin Color:</td>
    <td>{{@model.skin_color}}</td>
  </tr>
  <tr>
    <td>Eye Color:</td>
    <td>{{@model.eye_color}}</td>
  </tr>
  <tr>
    <td>Birth Year:</td>
    <td>{{@model.birth_year}}</td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>{{@model.gender}}</td>
  </tr>
  <tr>
    <td>Home world:</td>
    <td><LinkToPage @items={{@model.homeworld}} /></td>
  </tr>
  <tr>
    <td>Films:</td>
    <td>{{@model.films}}</td>
  </tr>
  <tr>
    <td>Species:</td>
    <td>{{@model.species}}</td>
  </tr>
  <tr>
    <td>Vehicles:</td>
    <td>{{@model.vehicles}}</td>
  </tr>
  <tr>
    <td>Starships:</td>
    <td>{{@model.starships}}</td>
  </tr>
  </table>
