<div class="crawl-wrapper">
<div class="opening_crawl">
<div class="fade"></div>

<section class="star-wars">

  <div class="crawl">

    <div class="title">
      <p>EPISODE: {{@model.episode_id}}</p>
      <h1>{{@model.title}}</h1>
    </div>
    
    <p>{{@model.opening_crawl}}</p>
  </div>

</section>
</div>
</div>
<h3>{{@model.title}}</h3>
<table>
  <tr>
    <td>Episode:</td>
    <td>{{@model.episode_id}}</td>
  </tr>
  <tr>
    <td>Director:</td>
    <td>{{@model.director}}</td>
  </tr>
  <tr>
    <td>Producer:</td>
    <td>{{@model.producer}}</td>
  </tr>
  <tr>
    <td>Release Date:</td>
    <td>{{@model.release_date}}</td>
  </tr>
  <tr>
    <td>Species:</td>
    <td><LinkToPage @items={{@model.species}} /></td>
  </tr>
  <tr>
    <td>Vehicles:</td>
    <td><LinkToPage @items={{@model.vehicles}} /></td>
  </tr>
  <tr>
    <td>Starships:</td>
    <td><LinkToPage @items={{@model.starships}} /></td>
  </tr>
  <tr>
    <td>Characters:</td>
    <td><LinkToPage @items={{@model.characters}} /></td>
  </tr>
  <tr>
    <td>Planets:</td>
    <td><LinkToPage @items={{@model.planets}} /></td>
  </tr>
  </table>
